@import url(./base.css);

.menu path, .menu__close path {
  fill: var(--color-text-on-primary);
}

.home .main__heading {
  font-size: 128px;
  font-weight: bold;
}

.home .main__sub-heading {
  font-size: 40px;
}

.button-container {
  display: flex;
  margin-top: 100px;
}

@media (max-width: 1220px) {
  .home .main__heading {
    font-size: 70px;
  }
}

@media (max-width: 900px) {
  .home .main__heading {
    font-size: 50px;
  }

  .home .main__sub-heading {
    font-size: 24px;
  }

  .button-container {
    margin-top: 32px;
    flex-wrap: wrap;
  }
}
